body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url(../white-light-green-leaves-twigs-green-background_1034910-92373.avif);
}
.container {
  position: relative;
}
.valentines {
  position: relative;
  top: 50px;
  cursor: pointer;
}
.envelope {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #9caf88;
  display: grid;
  place-items: center;
}
.envelope::before {
  content: "";
  position: absolute;
  width: 212px;
  height: 212px;
  background-color: #9caf88;
  transform: rotate(45deg);
  top: -105px;
  left: 44px;
  border-radius: 30px 0 0 0;
}
.front {
  position: absolute;
  border-right: 180px solid #848b79;
  border-top: 95px solid transparent;
  border-bottom: 100px solid transparent;
  left: 120px;
  top: 5px;
  width: 0;
  height: 0;
  z-index: 10;
}
.front::before {
  position: absolute;
  content: "";
  border-left: 300px solid #747c6c;
  border-top: 195px solid transparent;
  left: -120px;
  top: -95px;
}
.front::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  transform: translateX(-50%, -50%);
  background-image: url(../Cutout_0509242224.webp);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
}
.card {
  position: relative;
  width: 250px;
  height: 180px;
  background: #fff;
  border-radius: 2px;
  display: grid;
  place-items: center;
  transition: 1s;
}
.card::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid #003049;
  border-style: dashed;
}
.valentines:hover .card {
  transform: translateY(-100px);
}
.card .text {
  font-family: "Brush Script MT", cursive;
  font-size: 22px;
  text-align: center;
  line-height: 25px;
  color: #003049;
}
